:root {
    /* Cores */
    --cor_fundo_azul: #384F70;
    --cor_fundo_cinza: #A2A2A2;
    --cor_fundo_sugestao: #A7D8DB;
    --cor_box_shadow: #3C3C3C;
    --cor_resposta_par: #EBEBED;
    --cor_resposta_impar: #C3C3C3;
    --cor_branco: #FFF;
    --cor_preto: #000;
    --cor_botao: #D4D4D4;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {

    /* background-color: #d4d4d4; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

body::before {
    content: "";
    /* Fixado na viewport para sempre cobrir a área visível durante o scroll */
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0; */
    background-image: url(../imagens/imagem_fundo.png);
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    z-index: -1; /* mantém atrás do conteúdo */
}

.topo {
    
    position: fixed;
    top: 0;
    background-color: var(--cor_fundo_azul);
    color: var(--cor_branco);
    width: 100%;
    height: 100px;
    padding: 35px 0px;
    text-align: center;
    z-index: 100;
}

.topo img {

    position: absolute;
    top: 20px;
    left: 30px;
    width: 60px;
    height: 60px;
    border: 1.5px solid var(--cor_fundo_azul);
    border-radius: 3px;
}

.topo h1 {

    position: absolute;
    left: 0;
    right: 0;
    font-size: 26px;
    text-shadow: 0px 0px 10px var(--cor_preto);
}

#data {

    position: absolute;
    width: 180px;
    top: 20px;
    right: 30px;
    
    text-shadow: 0px 0px 10px var(--cor_preto);
}

#data h2 {

    font-size: 13px;
}

#espaco_data_sistema {

    font-size: 10px;
}

#estrutura_principal { /* referente ao main */

    width: 1280px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

#secao {

    background-color: var(--cor_fundo_cinza);
    border-radius: 15px;
    width: 900px;
    margin-top: 125px;
    padding: 5px;
    border: 3px solid;
    box-shadow: 0px 0px 10px 3px var(--cor_box_shadow);

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    z-index: 1;

}

#secao_chapas, #secao_tintas {

    background-color: var(--cor_fundo_cinza);
    border-radius: 15px;
    width: 900px;
    height: 550px;
    margin-top: 25px;
    padding: 5px;
    border: 3px solid;
    box-shadow: 0px 0px 10px 3px var(--cor_box_shadow);

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    z-index: 1;

}

div#header {

    background-color: var(--cor_fundo_azul);
    color: var(--cor_branco);
    width: 95%;
    height: 76px;
    margin: 15px 5px 5px 5px;
    padding: 5px 5px;
    text-align: center;
    border-radius: 5px;

    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}

div#header > h2 {

    width: auto;
    margin: 5px;
    font-size: 20px;
    text-align: center;
}

div#header > p {

    font-size: 13px;
}

div#caesa {

    margin-top: 10px;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    flex: 0 1 600px;
}

.item {
    width: 300px;

    display: flex;
    align-items: center;
}

.item label {
    width: 130px;
    text-align: center;
}

div#principal {

    background-color: var(--cor_branco);
    width: 95%;
    margin: 10px 5px;
    padding: 0px 5px;
    
    border: 1px solid var(--cor_preto);
    border-radius: 5px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

div#principal > p {

    width: 100%;
    margin: 10px 10px;
    padding: 0px 5px;
    text-align: center;
}

div#principal_secao_chapas,
div#principal_secao_tintas {

    background-color: var(--cor_branco);
    width: 95%;
    height: 75%;
    overflow: auto;
    margin: 10px 5px;
    padding: 0px 5px;
    font-size: 13px;
    
    border: 1px solid var(--cor_preto);
    border-radius: 5px;

}

div#principal_secao_chapas table,
div#principal_secao_tintas table {

    margin: 0 auto;
    padding: 5px;
}

div#principal_secao_chapas table thead tr th,
div#principal_secao_chapas table tbody tr td,
div#principal_secao_tintas table thead tr th,
div#principal_secao_tintas table tbody tr td {

    padding: 5px 15px;
    text-align: left;
}

div#principal_secao_chapas table tbody tr:nth-of-type(even),
div#principal_secao_tintas table tbody tr:nth-of-type(even) {

    background-color: var(--cor_resposta_par);
}

div#principal_secao_chapas table tbody tr:nth-of-type(odd),
div#principal_secao_tintas table tbody tr:nth-of-type(odd) {

    background-color: var(--cor_resposta_impar);
}

p#mater {
    
    display: flex;
    justify-content: center;
}

p#mater > label {
    font: normal 10pt Arial;
    margin: 0px 5px;
}

div#dados {

    width: 265px;
    height: 119px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

}

div#dados > p {

    margin: 5px;
    font-size: 13px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

.conteiner-sugestao {

    width: 450px;
    height: 119px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.texto-sugestao {

    width: 100%;
    height: 30px;
    padding: 5px 0;
    margin: 0 auto;
}

div#sugestao {

    width: 100%;
    height: 35px;
    margin: 0 auto;
    border: 1px solid var(--cor_preto);
    border-radius: 5px;
    font-family: 'Tahoma';
    font-size: 11px;
    font-weight: 600;
    background-color: var(--cor_fundo_sugestao);

    display: flex;

    justify-content: center;
    align-items: center;

}

div#listas_chapa_tinta {

    width: 100%;
    height: 30px;
    margin: 0 auto;
    font-family: 'Tahoma';
    font-size: 11px;
    font-weight: 600;

    display: flex;

    justify-content: space-evenly;
    align-items: center;

}

.divDinamica {

    text-align: center;

    display: flex;
    align-items: center;
}

.btn-copiar {

    width: 55px;
    margin-right: 20px;
    font-family: 'Tahoma';
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--cor_botao);
}

.btn-copiar:hover {

    background-color: var(--cor_preto);
    color: var(--cor_branco);
    font-size: 14px;
}

div#calculado {

    background-color: var(--cor_branco);
    width: 95%;
    margin: 10px 5px 15px 5px;
    padding: 0px 5px;

    border: 1px solid var(--cor_preto);
    border-radius: 5px;

    display: flex;
    flex-flow: row wrap;
}

div#calculado > p {

    width: 90%;
    margin: 5px auto;
}

#lista-resultados {

    width: 95%;
    margin: 10px auto;
    padding: 0px 5px;
    font-size: 14px;
    line-height: 23px;

}

#lista-resultados > li {

    border-bottom: 1px solid var(--cor_preto);
    list-style-type: none;

}

#lista-resultados li:nth-of-type(even) { /* item com pseudo-classe par */

    background-color: var(--cor_resposta_par);

}

#lista-resultados li:nth-of-type(odd) { /* item com pseudo-classe ímpar */

    background-color: var(--cor_resposta_impar);

}

div#calculado .valor {

    font-size: 14px;
    line-height: 15px;
}

label {

    font-size: 15px;
    font-weight: 600;
}

input[type=text] {

    width: 150px;
    font-size: 13px;
    border-radius: 5px;
    text-align: center;
}

input[type=number]#qtde {

    width: 150px;
    font-size: 13px;
    border-radius: 5px;
    text-align: center;
}

input[type=number] {

    width: 100px;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
}

input[type=button] {

    width: 140px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    background-color: var(--cor_botao);
}

input[type=button]:hover {

    background-color: var(--cor_preto);
    color: var(--cor_branco);
    font-size: 14px;
}

h3 {

    width: 100%;
    margin: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

h4 {

    width: 100%;
    margin: auto;
    font-size: 13px;
    text-align: center;    
}

#arquivo {

    width: 300px;
    margin: auto;
    text-align: center;    
}

#arquivo #nomeArquivo {
    width: 250px;
}

div#limpar {

    width: 80%;
    text-align: center;
    margin: 10px 0px 0px 0px;
}

.rodape {
    padding: 20px;
}